.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.parallax {
    /* The image used */
    /*background-image: url("../../shared/image/wallpaper.jpg");*/

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		width: 100%;
	}


	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}

	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
.navbar-form .form-group:last-child {margin-top: 5px}
}

@media (min-width: 991px) {
.store-infomation {margin-top: 150px};
}

@media (max-width: 991px) {
.store-infomation {margin-left: 50px;margin-bottom: 80px};
}
.panel-image{
	padding: 0px
}

.yourname{
	width: 100%;
	height: 100px;
	background: url('../image/yourname.png') no-repeat ;
    background-size: 100% 100%;
}
/*
.navbar-inverse {
	background-image
}*/